spring:
  application:
    name: SpringMasterCourse
  
  # Configurazione Virtual Threads (Notare la gerarchia)
  threads:
    virtual:
      enabled: true

# Configurazione del Server
server:
  port: 8080

# Configurazione del Logging
logging:
  level:
    org.springframework.web: INFO
    # Attiviamo i log della nostra app per vedere bene cosa succede
    com.alessandra.course: DEBUG

# --- LA NOSTRA CONFIGURAZIONE PERSONALIZZATA ---
# Qui definiamo le proprietà specifiche del nostro corso.
# Spring le mapperà automaticamente sulla classe Java che creeremo dopo.
course:
  name: "Master Spring Boot 4"
  welcome-message: "Benvenuta nel corso di Java!"
  max-students: 25
  features:
    - "Virtual Threads"
    - "Modular Architecture"
    - "Cloud Native"
  difficulty-level: 10